{% extends 'base.html'%}
<!-- Main header end -->
{% block content %}

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Streaming</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home'%}">Home</a></li>
                <li class="active">Streaming</li>
            </ul>
        </div>
    </div>
</div>




<div class="services content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Video <span>Streaming</span></h1>

        </div>
        <center>
        <div class="row">

          <iframe width="900" height="500" src="https://www.youtube.com/embed/xwiOO0niQqc"
          title="Sunday Bible Study (cont'd) | Pst. Oluwasijibomi Soares | SBS | 31-07-22"
           frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
            gyroscope; picture-in-picture" allowfullscreen>
          </iframe>






        </div>
        </center>
    </div>
</div>

{% endblock %}
