{% extends 'base.html'%}
<!-- Main header end -->
{% block content %}

{% load static %}

<div class="sub-banner-blog overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Transcript Messages</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home'%}">Home</a></li>
                <li class="active">Transcript Messages</li>
            </ul>
        </div>
    </div>
</div>




<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Transcript <span>Messages</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6">
              <div class="car-box-3">
                  <div class="car-thumbnail">
                      <a href="car-details.html" class="car-img">
                          <div class="tag">New</div>
                          <div class="price-box">
                              <span>TSC</span>
                          </div>
                          <img class="d-block w-100" src="{% static 'img/dimeji.jpg'%}" alt="car">
                      </a>
                      <div class="carbox-overlap-wrapper">
                          <div class="overlap-box">
                              <div class="overlap-btns-area">
                                  <div class="car-magnify-gallery">
                                      <a href="{% static 'img/dimeji.jpg'%}" class="overlap-btn">
                                          <i class="fa fa-expand"></i>
                                          <img class="hidden" src="{% static 'img/dimeji.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/ifeoluwa.jpg'%}" class="hidden" >
                                          <img class="hidden" src="{% static 'img/ifeoluwa.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bumilayo.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bumilayo.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bread.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bread.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bumilayo.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bumilayo.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/ifeoluwa.jpg'%}" class="hidden" >
                                          <img class="hidden" src="{% static 'img/ifeoluwa.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bumilayo.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bumilayo.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bread.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bread.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bumilayo.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bumilayo.jpg'%}">
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="detail">
                      <h1 class="title">
                          <a href="car-details.html">Preparing The Bride Unto Eternal Reward Pt.5 | Pst. Dimeji Elugbadebo | TSC | 21-07-2022</a>
                      </h1>
                      <div class="location">
                          <a href="car-details.html">
                              <i class="flaticon-pin"></i>No 120 Ajibode Junction off UI Road Ojoo, Ibadan, Oyo State,
                          </a>
                      </div>
                      <ul class="facilities-list clearfix">
                          <li>Pst. Dimeji Elugbadebo</li>
                          <li>Published july, 3 2022</li>
                          <li>The School of Christ</li>

                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
              <div class="car-box-3">
                  <div class="car-thumbnail">
                      <a href="car-details.html" class="car-img">
                          <div class="tag">New</div>
                          <div class="price-box">
                              <span>TSC</span>
                          </div>
                          <img class="d-block w-100" src="{% static 'img/dimeji.jpg'%}" alt="car">
                      </a>
                      <div class="carbox-overlap-wrapper">
                          <div class="overlap-box">
                              <div class="overlap-btns-area">
                                  <div class="car-magnify-gallery">
                                      <a href="{% static 'img/dimeji.jpg'%}" class="overlap-btn">
                                          <i class="fa fa-expand"></i>
                                          <img class="hidden" src="{% static 'img/dimeji.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/ifeoluwa.jpg'%}" class="hidden" >
                                          <img class="hidden" src="{% static 'img/ifeoluwa.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bumilayo.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bumilayo.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bread.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bread.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bumilayo.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bumilayo.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/ifeoluwa.jpg'%}" class="hidden" >
                                          <img class="hidden" src="{% static 'img/ifeoluwa.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bumilayo.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bumilayo.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bread.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bread.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bumilayo.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bumilayo.jpg'%}">
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="detail">
                      <h1 class="title">
                          <a href="car-details.html">Preparing The Bride Unto Eternal Reward Pt.5 | Pst. Dimeji Elugbadebo | TSC | 21-07-2022</a>
                      </h1>
                      <div class="location">
                          <a href="car-details.html">
                              <i class="flaticon-pin"></i>No 120 Ajibode Junction off UI Road Ojoo, Ibadan, Oyo State,
                          </a>
                      </div>
                      <ul class="facilities-list clearfix">
                          <li>Pst. Dimeji Elugbadebo</li>
                          <li>Published july, 3 2022</li>
                          <li>The School of Christ</li>

                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
              <div class="car-box-3">
                  <div class="car-thumbnail">
                      <a href="car-details.html" class="car-img">
                          <div class="tag">New</div>
                          <div class="price-box">
                              <span>TSC</span>
                          </div>
                          <img class="d-block w-100" src="{% static 'img/dimeji.jpg'%}" alt="car">
                      </a>
                      <div class="carbox-overlap-wrapper">
                          <div class="overlap-box">
                              <div class="overlap-btns-area">
                                  <div class="car-magnify-gallery">
                                      <a href="{% static 'img/dimeji.jpg'%}" class="overlap-btn">
                                          <i class="fa fa-expand"></i>
                                          <img class="hidden" src="{% static 'img/dimeji.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/ifeoluwa.jpg'%}" class="hidden" >
                                          <img class="hidden" src="{% static 'img/ifeoluwa.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bumilayo.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bumilayo.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bread.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bread.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bumilayo.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bumilayo.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/ifeoluwa.jpg'%}" class="hidden" >
                                          <img class="hidden" src="{% static 'img/ifeoluwa.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bumilayo.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bumilayo.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bread.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bread.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bumilayo.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bumilayo.jpg'%}">
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="detail">
                      <h1 class="title">
                          <a href="car-details.html">Preparing The Bride Unto Eternal Reward Pt.5 | Pst. Dimeji Elugbadebo | TSC | 21-07-2022</a>
                      </h1>
                      <div class="location">
                          <a href="car-details.html">
                              <i class="flaticon-pin"></i>No 120 Ajibode Junction off UI Road Ojoo, Ibadan, Oyo State,
                          </a>
                      </div>
                      <ul class="facilities-list clearfix">
                          <li>Pst. Dimeji Elugbadebo</li>
                          <li>Published july, 3 2022</li>
                          <li>The School of Christ</li>

                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6">
              <div class="car-box-3">
                  <div class="car-thumbnail">
                      <a href="car-details.html" class="car-img">
                          <div class="tag">New</div>
                          <div class="price-box">
                              <span>TSC</span>
                          </div>
                          <img class="d-block w-100" src="{% static 'img/dimeji.jpg'%}" alt="car">
                      </a>
                      <div class="carbox-overlap-wrapper">
                          <div class="overlap-box">
                              <div class="overlap-btns-area">
                                  <div class="car-magnify-gallery">
                                      <a href="{% static 'img/dimeji.jpg'%}" class="overlap-btn">
                                          <i class="fa fa-expand"></i>
                                          <img class="hidden" src="{% static 'img/dimeji.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/ifeoluwa.jpg'%}" class="hidden" >
                                          <img class="hidden" src="{% static 'img/ifeoluwa.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bumilayo.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bumilayo.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bread.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bread.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bumilayo.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bumilayo.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/ifeoluwa.jpg'%}" class="hidden" >
                                          <img class="hidden" src="{% static 'img/ifeoluwa.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bumilayo.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bumilayo.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bread.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bread.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bumilayo.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bumilayo.jpg'%}">
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="detail">
                      <h1 class="title">
                          <a href="car-details.html">Preparing The Bride Unto Eternal Reward Pt.5 | Pst. Dimeji Elugbadebo | TSC | 21-07-2022</a>
                      </h1>
                      <div class="location">
                          <a href="car-details.html">
                              <i class="flaticon-pin"></i>No 120 Ajibode Junction off UI Road Ojoo, Ibadan, Oyo State,
                          </a>
                      </div>
                      <ul class="facilities-list clearfix">
                          <li>Pst. Dimeji Elugbadebo</li>
                          <li>Published july, 3 2022</li>
                          <li>The School of Christ</li>

                      </ul>
                  </div>
              </div>
          </div>



        </div>
        <div class="slick-btn">
            <div class="slick-prev slick-arrow-buton sab-4">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="slick-next slick-arrow-buton sab-3">
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
    </div>
</div>

{% endblock %}
