{% extends 'base.html'%}
<!-- Main header end -->
{% block content %}

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Streaming</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home'%}">Home</a></li>
                <li class="active">Streaming</li>
            </ul>
        </div>
    </div>
</div>



<div class="services content-area">
   <div class="main-title text-center">
            <h1>Live <span>Video Broadcast</span></h1>

        </div>
    <div class="container">


        <!-- Main title -->
        <div class="live">

          <iframe src="https://mixlr.com/users/4288116/embed?artwork=true" frameborder="0" scrolling="no" height="180px" width="80%"></iframe>
         


        <div>
        <small><a href="http://mixlr.com/dcitygatechurch" style="color:#1a1a1a;display:block;font-family:Helvetica,sans-serif;font-size:11px;text-align:center;">dcitygatechurch is on Mixlr</a></small>
        </div>
        </div>



    </div>
</div>


{% endblock %}
