{% extends 'base.html'%}
<!-- Main header end -->
{% block content %}

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Streaming</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home'%}">Home</a></li>
                <li class="active">Streaming</li>
            </ul>
        </div>
    </div>
</div>




<div class="services content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Live <span>Streaming</span></h1>

        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">


                    <div class="detail">
                        <a href="{% url 'listenlive'%}" class="btn btn-lg btn-theme">LISTEN LIVE</a>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">

            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">


                    <div class="detail">
                        <a href="{% url 'watchlive' %}" class="btn btn-lg btn-theme" width="200px" height="100px">WATCH LIVE</a>

                    </div>
                </div>
            </div>






        </div>
    </div>
</div>

{% endblock %}
