{% extends 'base.html'%}
<!-- Main header end -->


{% block content %}
{% load static %}

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>{{audio_detail.msg_title}}</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home'%}">Home</a></li>
                <li class="active">Audio Messages</li>
            </ul>
        </div>
    </div>
</div>









<div class="featured-car content-area">

    <div class="container">
        <!-- Main title -->

        <div class="row">


          <div class="col-lg-4 col-md-4">
              <div class="car-box-3">
                  <div class="car-thumbnail">
                      <a href="car-details.html" class="car-img">
                          <div class="tag">New</div>
                          <div class="price-box">
                              <span>{{audio_detail.category}}</span>
                          </div>
                          <img class="d-block w-100" src="{{audio_detail.blog_photo_1.url}}" alt="car">
                      </a>
                      <div class="carbox-overlap-wrapper">
                          <div class="overlap-box">
                              <div class="overlap-btns-area">
                                  <div class="car-magnify-gallery">
                                      <a href="{{audio_detail.blog_photo_1.url}}" class="overlap-btn">
                                          <i class="fa fa-expand"></i>
                                          <img class="hidden" src="{% static 'img/dimeji.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/ifeoluwa.jpg'%}" class="hidden" >
                                          <img class="hidden" src="{% static 'img/ifeoluwa.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bumilayo.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bumilayo.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bread.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bread.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bumilayo.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bumilayo.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/ifeoluwa.jpg'%}" class="hidden" >
                                          <img class="hidden" src="{% static 'img/ifeoluwa.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bumilayo.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bumilayo.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bread.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bread.jpg'%}">
                                      </a>
                                      <a href="{% static 'img/bumilayo.jpg'%}" class="hidden">
                                          <img class="hidden" src="{% static 'img/bumilayo.jpg'%}">
                                      </a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="detail">
                      <h1 class="title">
                          <a href="">{{audio_detail.msg_title}}</a>
                      </h1>
                      <div class="location">
                          <a href="car-details.html">

                          </a>
                      </div>
                      <ul class="facilities-list clearfix">
                          <li>{{audio_detail.minister_name}}</li>
                          <li>{{audio_detail.created_date|date:"M d, Y"}}</li>


                      </ul>
                  </div>



                  <figure >

  <audio controls
      src="{{audio_detail.msg_link}}" controls="download">
          Your browser does not support the audio element.
  </audio>
  <a href="https://drive.google.com/uc?authuser=0&id={{audio_detail.id_link}}&export=download"
  class="btn btn-lg btn-theme">
  Download
 </a>
</figure>

              </div>

          </div>








        </div>
        <div class="slick-btn">
            <div class="slick-prev slick-arrow-buton sab-4">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="slick-next slick-arrow-buton sab-3">
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
    </div>
</div>

{% endblock %}
