{% extends 'base.html' %}


{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static '/css/style_imgc.css' %}">
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>{{blog_detail.blog_title}}</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home'%}">Home</a></li>
                <li class="active">{{blog_detail.category}}</li>
            </ul>
        </div>
    </div>
</div>









<div class="car-details-page content-area-6">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="car-details-section">
                    <!-- Heading start -->
                    <div class="heading-car clearfix">
                        <div class="pull-left">
                            <h3>{{blog_detail.blog_title}}</h3>
                            <h6>
                                <i class="flaticon-pin"></i>{{blog_detail.address_location}}
                            </h6>
                        </div>
                        <div class="pull-right">
                            <h3><span>{{blog_detail.category}}</span></h3>
                        </div>
                    </div>
                    <div id="carDetailsSlider" class="carousel car-details-sliders slide mb-40">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                            <div class="active item carousel-item" data-slide-number="0">
                                <img src="{{blog_detail.blog_photo_1.url}}" class="img-fluid" alt="slider-car">
                            </div>
                            <div class="item carousel-item" data-slide-number="1">
                                <img src="{{blog_detail.blog_photo_2.url}}" class="img-fluid" alt="slider-car">
                            </div>
                            <div class="item carousel-item" data-slide-number="2">
                                <img src="{{blog_detail.blog_photo_3.url}}" class="img-fluid" alt="slider-car">
                            </div>
                            <div class="item carousel-item" data-slide-number="4">
                                <img src="{{blog_detail.blog_photo_4.url}}" class="img-fluid" alt="slider-car">
                            </div>
                            <div class="item carousel-item" data-slide-number="5">
                                <img src="{{blog_detail.blog_photo_5.url}}" class="img-fluid" alt="slider-car">
                            </div>
                        </div>
                        <!-- main slider carousel nav controls -->
                        <div class="carousel-indicators-section clearfix">
                            <ul class="carousel-indicators car-properties list-inline nav nav-justified">
                                <li class="list-inline-item active">
                                    <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#carDetailsSlider">
                                        <img src="{{blog_detail.blog_photo_1.url}}" class="img-fluid" alt="small-car">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-1" data-slide-to="1" data-target="#carDetailsSlider">
                                        <img src="{{blog_detail.blog_photo_2.url}}" class="img-fluid" alt="small-car">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-2" data-slide-to="2" data-target="#carDetailsSlider">
                                        <img src="{{blog_detail.blog_photo_3.url}}" class="img-fluid" alt="small-car">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-3" data-slide-to="3" data-target="#carDetailsSlider">
                                        <img src="{{blog_detail.blog_photo_4.url}}" class="img-fluid" alt="small-car">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-4" data-slide-to="4" data-target="#carDetailsSlider">
                                        <img src="{{blog_detail.blog_photo_5.url}}" class="img-fluid" alt="small-car">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Tabbing box start -->
                    <div class="tabbing tabbing-box mb-40">

                        <div class="tab-content" id="carTabContent">
                            <div class="tab-pane fade active show" id="one" role="tabpanel" aria-labelledby="one-tab">
                                <div class="car-description mb-50">
                                    <h3 class="heading-2">
                                        Message
                                    </h3>
                                    <div class="message">
                                      <p>
                                      {{blog_detail.blog_body | safe}}
                                      </p>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>

{% endblock%}
