{% load static %}
<link rel="stylesheet" href="{% static '/css/style.css' %}">
<link rel="stylesheet" href="{% static '/css/style_drop.css' %}">
<header class="main-header sticky-header header-with-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand company-logo" href="{% url 'home'%}">
                <img src="{% static 'img/logos/logo-red-1.png' %}" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>
            <div class="navbar-collapse collapse w-100" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a

                        {% if 'imgc' in request.path %}
                        class="nav-link active"
                        {% else %}
                        class="nav-link"
                        {% endif %}
                         href="{% url 'imgc'%}" >
                            IMGC 2022
                        </a>
                    </li>
                    <li class="nav-item">
                        <a
                        {% if 'audio_msg' in request.path %}
                        class="nav-link active"
                        {% else %}
                        class="nav-link"
                        {% endif %}
                         href="{% url 'audio_msg'%}" >
                          Audio Messages
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/carhouse/about.html">
                            Media & Resources <i class="arrow down"></i>
                        </a>
                        <ul>
                          <li><a href="{% url 'tsc'%}">THE SCHOOL OF CHRIST</a></li>
                          <li><a href="{% url 'word_prayer'%}">WORD AND PRAYER</a></li>
                          <li><a href="{% url 'video_messages'%}">VIDEO MESSAGES</a></li>
                          <li><a href="{% url 'audio_msg'%}">AUDIO MESSAGES</a></li>
                          <li><a href="{% url 'kcc'%}">KINGDOM COMMUNITY CENTER</a></li>
                          <li><a href="{% url 'couple_meeting'%}">COUPLES MEETINGS</a></li>

                        </ul>
                    </li>

                    <li class="nav-item">
                        <a
                        {% if 'blog' in request.path %}
                        class="nav-link active"
                        {% else %}
                        class="nav-link"
                        {% endif %}
                         href="{% url 'blogs'%}">
                            Blog
                        </a>
                    </li>



                    <li class="nav-item dropdown">
                        <a
                        {% if 'contact_us' in request.path %}
                        class="nav-link active"
                        {% else %}
                        class="nav-link"
                        {% endif %}
                         href="{% url 'contact_us' %}">
                        Contact
                      </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>


</header>
