
* {
  margin: 0;
  padding: 0;
}


nav {
  width: 100%;
  height: 60px;
  position: fixed;

}


nav ul {
  float: left;
  font-size: 12px;
  font-weight: bold;
  display:inline-block;
  font-family:cursive;
}



.pst_welcome{
  text-align: left;
  margin-left: auto;
  }


.pst_welcome_heading{
  color: #4E9258;
}


nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav ul li a {
  display: block;
  font-family: arial;
  color: #222;
  font-weight: bold;
  font-size:14px
  padding: 24px 14px;

}

nav ul li ul {
  display: none;
  position: absolute;
  background-color: #ffff;
  color: #ffff

  opacity: .4;
  padding: 4px;
  border-radius: 8px;
}

nav ul li:hover ul {
  display: block;
  color: #fff

}

nav ul li ul li a {
  padding: 8px 10px;
  border-radius: 0px, 0px, 4px, 4px;
}

nav ul li ul li {
  width: 180px;
  border-radius: 4px;
}


nav ul li ul li a:hover {
  padding: 8px 10px;
  background-color: #FFFFFF;
  font-family: cursive;
  font-size: 14px;
  color: #ff0000;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;


}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.pst_name{
  text-align:left;




}
.pst_title{
  text-align:left;
  font-family:Brush Script MT;
  color: #000000;
  font-weight: bold;
  font-size: 30px


}

.about_wrapper {
  padding: 20px 0px;
  background: #E55B3C;
  color: #ffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
 

  
}




.featured-car2{
  padding: 30px 0px;
  background: #00A36C;
  color: #ffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
}


.about_wrapper2{
  padding: 30px 0px;

  color: #ffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

p{
  color: #fff;
  font-family: serif;


}

h1{
  font-weight: bold;
  text-transform: uppercase;

}

.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 15px;
}

.about_wrapper .inner{
  display: flex;
  flex-wrap: wrap;

}

.about_wrapper .inner .image{
  flex: 0 0 40%;
  max-width: 40%;
  padding: 0px 10px
}

.about_wrapper .inner .right_content{
  flex: 0 0 60%;
  max-width: 60%;
  padding: 0px 5px
}

.about_wrapper .inner .image img{
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about_wrapper .inner .right_content h2{
  font-size: 40px;


}

.about_wrapper .inner .right_content p{
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.about_wrapper .img_inner{
  width: 300px;
  height: 500px;

  overflow: hidden;
}




@media(max-width:900px) {
  .about_wrapper .inner .image , .img_inner .img_inner .right_content .pst_welcome{
   
  
  
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;
    
 
}
  
  .pst_title{
  text-align:left;
  font-family:Brush Script MT;
  color: #000000;
  font-weight: bold;
  font-size: 30px


}

  
  

  }






.lead{
  background-color: #835C3B;
  min-height: 80vh;
  position: relative;
  overflow: hidden;
}

.lead::after{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  background-image: url(img/ifeoluwa.jpg);
  height: 275px;
}
